/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 30px 60px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.div1 ul{
    margin-top: 35px;
    display: flex;
    gap: 60px;
}
.div1 ul li a {
    color: white;
    background-color: orange;
    padding: 15px 20px;
    border-radius: 5px;
}
.div1 ul li a:hover{
    transform: rotate(360deg);
    transition: 2s;
    background-color: white;
    border: solid orange;
    color: black;
}
.div {
    display: flex;
    margin-top: 30px;
}
.div img{
    margin-top: -25px;
    margin-right: 10px;
}
.div2 {
    margin-left: 30px;
    margin-top: 150px;
}
.div2 span{
    color: aqua;
}
.div2 h1{
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 30px;
}
#ibr{
    width: 500px;
    height: 400px;
}
.div2 {
    display: flex;
}
.div3 button{
    background-color: orangered;
    padding: 10px 30px;
    border: none;
    color: white;
    margin-top: 30px;
}
.div3 button:hover{
    transform: rotatex(360deg);
    transition: 2s;
    background-color: white;
    border: solid orange;
    color: orange;
    border-radius: 10px;
} */