*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 30px 60px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.div1 ul{
    margin-top: 35px;
    display: flex;
    gap: 60px;
}
.div1 ul li a {
    color: white;
    background-color: orange;
    padding: 15px 20px;
    border-radius: 5px;
}
.div1 ul li a:hover{
    transform: rotate(360deg);
    transition: 2s;
    background-color: white;
    border: solid orange;
    color: black;
}
.div {
    display: flex;
    margin-top: 30px;
}
.div img{
    margin-top: -25px;
    margin-right: 10px;
}
.div2 {
    margin-left: 30px;
    margin-top: 150px;
}
.div2 span{
    color: aqua;
}
.div2 h1{
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 30px;
}
#ibr{
    width: 500px;
    height: 400px;
}
.div2 {
    display: flex;
}
.div3 button{
    background-color: orangered;
    padding: 10px 30px;
    border: none;
    color: white;
    margin-top: 30px;
}
.div3 button:hover{
    transform: rotatex(360deg);
    transition: 2s;
    background-color: white;
    border: solid orange;
    color: orange;
    border-radius: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 30px 60px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.div{
    display: flex;
    gap: 50px;
}
.div ul{
    display: flex;
    gap: 40px;
    margin-top: 10px;
}
.div ul li a {
    color: black;
    padding: 15px 23px;
}
.div ul li a:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
    transform: scaleX(360deg);
    transition: 2s;
}
#hi{
    color: orange;
}
.div1 button{
    background-color: orange;
    padding: 10px  20px;
    color: white;
    border: none;
    border-radius: 5px;
}
.div1 button:hover{
    background-color: white;
    color: orange;
    border: solid orange;
    transform: scalex(360deg);
    transition: 2s;
}
.umumiy {
    display: flex;
}
.hom1 img{
    margin-right: -60px;
}
.hom{
    margin-top: 150px;
}
.hom h1{
    margin-bottom: 25px;
}
.hom p{
    margin-bottom: 25px;
}
.hom button{
    padding: 15px 30px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
}
.hom button:hover{
    background-color: cadetblue;
    color: white;
    transform: scaleX(360deg);
    transition: 2s;
}
#hir{
    background-color: white;
    color: orange;
    border: solid orange;
    margin-left: 10px;
}
#hir:hover{
    background-color: cadetblue;
    transform: scaleX(360deg);
    transition: 2s;
    border: none;
    color: white;
}
.div2 {
    text-align: center;
}
.div2 h3{
    margin-bottom: 15px;
    color: orange;
}
.umumiy1 {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}
.hom2 h2{
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.hom3 h2{
    margin: 12px 10px;
}
.hom4 h2{
    margin: 10px 10px;
}
.umumiy2{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}
.hom6 {
    margin-top: 120px;
}
.hom6 h3{
    margin-bottom: 20px;
    color: orange;
}
.hom6 h1{
    margin-bottom: 20px;
}
.hom6 p{
    margin-bottom: 30px;
}
.hom6 button{
    padding: 15px 22px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 6px;
}
.hom6 button:hover{
    transform: scale3d(360deg);
    transition: 2s;
    background-color: white;
    color: black;
}
.div3 {
    text-align: center;
    margin-top: 30px;
}
.div3 h4{
    margin-bottom: 20px;
    color: orange;
}
.div3 h2{
    margin-bottom: 20px;
}
.umumiy3 {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.umumiy3 img{
    margin-bottom: 12px;
}
.umumiy3 h3{
    margin-bottom: 12px;
}
.umumiy3 p{
    margin-bottom: 12px;
}
.umumiy3 button{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px 5px;
}
.umumiy4 {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.umumiy4 img{
    margin-bottom: 12px;   
}
.umumiy4 h3{
    margin-bottom: 12px;
}
.umumiy4 p{
    margin-bottom: 12px;
}
.umumiy4 button{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px 5px;
}
.vvv button{
    background-color: white;
    color: orange;
    border: solid orange;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 500px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    padding: 30px 60px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.div1 ul{
    display: flex;
    gap: 50px;
    margin-top: 10px;
}
.div1 ul li a {
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
}
.div1 ul li a:hover{
    color: white;
    background-color: black;
    transform: matrix3d(360deg);
    transition: 2s;
}
.home{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}
.hom{
    margin-top: 50px;
}
.hom h1{
    font-size: 50px;
    margin-bottom: 20px;
}
span{
    color: red;
}
.hom p{
    font-size: 20px;
    margin-bottom: 40px;
}
.hom button{
    padding: 10px 28px;
    border: none;
    border-radius: 5px;
    background-color: aquamarine;
    color: white;
}
.hom button:hover{
    background-color: gray;
    color: black;
    border-radius: 23px;
    transform: matrix3d(360px);
    transition: 2s;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    padding: 30px 60px;
    background-color: crimson;
}
.nav{
    display: flex;
    justify-content: space-between;
}
span{
    color: yellow;
}
.div1 ul{
    display: flex;
    gap: 50px;
    margin-top: 10px;
}
.div1 ul li a {
    color: white;
}
.div2 {
    color: white;
    margin-left: 50px;
    margin-top: 150px;
}
.div2 p{
    font-size: 20px;
}
.div2 h1{
    font-size: 70px;
    margin-bottom: 30px;
}
.div2 p{
    margin-bottom: 30px;
}
.div2 button{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}
.div2 button:hover{
    background-color: gray;
    color: white;
    border-radius: 20px;
    transform: scaleX(360deg);
    transition: 2s;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    padding: 30px 60px;
    background-color: beige;
}
.nav{
    display: flex;
    justify-content: space-between;
}
span{
    color: orange;
}
.div1 button{
    padding: 16px 35px;
    border: none;
    background-color: orange;
    border-radius: 30px;
}

.home {
    text-align: center;
    margin-top: 150px;
}
.home h1{
    font-size: 50px;
    margin-bottom: 25px;
}
.home p{
    font-size: 20px;
    margin-bottom: 20px;
}
.home button{
    background-color: orange ;
    border: none;
    border-radius: 10px;
    padding: 13px 34px;
}
#him{
    background-color: white;
    border: solid orange;
    color: orange;
}